<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" ><i class="fa fa-phone" aria-hidden="true"></i> +919130008877, +919130055511/22/33</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" ><i class="fa fa-envelope" aria-hidden="true"></i> info@aspireschools.in</a>
        </li>
        
      </ul>
      <div class="d-flex">
  
        <li class="nav-item">
          <a class="nav-link active  me-2"><i class="fa fa-map-marker" aria-hidden="true"></i> Google map </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active me-2"><i class="fa fa-bullhorn" aria-hidden="true"></i> Announcement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active me-2">Activity </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active pl-2" ><i class="fa fa-facebook" aria-hidden="true"></i> <i class="fa fa-instagram" aria-hidden="true"></i> <i class="fa fa-twitter" aria-hidden="true"></i> <i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        </li>
      
      </div>
      
    </div>
  </div>
</nav>









<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" >HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" >ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" >CAMPUS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" >CURRICULUM</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active">CONTACT</a>
          </li>
        </ul>
        <div class="d-flex">
    
          <li class="nav-item">
            <a class="nav-link active  me-2" >BEYOND ACADEMICS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active me-2">ADMISSIONS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active me-2">CAREERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active me-2">FAQ</a>
          </li>
        </div>
        
      </div>
    </div>
  </nav>



  
