
<div class="container-fluid mt-5">
    <div class="footer">
        <div class="row foot">
            <div class="col-lg-3">
                <h6>ABOUT ASPIRE SCHOOL</h6>
                <pre>
ASPIRE INTERNALTIONAL SCHOOL, 
AN INITIATIVE OF THE SAR-LA 
EDUCATION TRUST, OFFERS NEW
age of delivery equcation 
that Promotes learning without
compromising on inculcating
a spirit of competition</pre>
            </div>
            <div class="col-lg-3">
                <h6>CONTACT</h6>
                <pre>
ASPIRE INTERNATIONAL SCHOOL,
survey No 56/3, plot no 73, 
khasarmari, NH7, Wardha, 
Nagpur
CONTACT:
+91902482682,+9715235422
EMAIL:INFO@aspireschools.in

                </pre>
                
            </div>
            <div class="col-lg-3">
                <h6>QUICK LINKS</h6>
                <pre>
CBSE mandatory Disclosure
Admission Registration
Events
photo Gallary
Video Blogs
                </pre>

            </div>
            <div class="col-lg-3 mt-5">

                <img src="../../assets/footer logo.jpg" alt="">
            </div>

        </div>
    </div>
</div>
