<app-header></app-header>


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/aspire website.jpg2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/aspire website.2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/aspire website.3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- 2nd img  -->
<div class="container-fluid bg">
  <div class="row head">
    <div class="col-lg-8">
      <h4>Admission Open : Class Pre Nursery to Class XI</h4>
    </div>
    <div class="col-lg-4">

      <button type="button" class="btn btn-warning">Register Now</button>
    </div>
  </div>

  <div class="row image">
    <div class="col-lg-4">
      <img src="assets/congrats 4.jpg" alt="">
    </div>


  </div>
</div>


<!-- 4img card  -->
<div class="container-fluid mt-5">

  <div class="row paragraph">
    <div class="col-lg-12">
      <h3>Heartiest <span>Congratulations!!!</span></h3>
      <p>"Your perseverance and your sure belief in the school along with your abilities has led you to success... and
        making us proud being "Nagpur Top School" "</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <img src="assets/student 1.jpeg" alt="" width="100%" height="100%">
    </div>
    <div class="col-lg-3">
      <img src="assets/stud 2.jpeg" alt="" width="100%" height="100%">
    </div>
    <div class="col-lg-3">
      <img src="assets/studnt 3.jpeg" alt="" width="100%" height="100%">
    </div>
    <div class="col-lg-3">
      <img src="assets/stud 4.jpg" alt="" width="100%" height="100%">
    </div>

  </div>
</div>


<!-- card overlay  -->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-4 ">
      <div class="effect">
          <img src="assets/student 1.jpeg" alt="Avatar" class="image" width="100%" height="100%">
         <div class="overlay">
            <div class="text">We help students to build creative, analytical and collaborative skills with engaging
              academic projects. </div>
          </div>
        </div>
    </div>

    <div class="col-lg-4 ">
      <div class="effect">
        <img src="assets/card - 1.jpeg" alt="Avatar" class="image" width="100%" height="100%">
        <div class="overlay">
          <div class="text">with child specific worksheets and question papers, we build each childs confidence and
            abilities day after day.</div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">

      <h6 style="color: blue; text-align: center; font-size: 14px;">FOR MORE THAN 7 YEARS,</h6>
      <p style="font-size: 13px; display: flex; justify-content: center; padding: 15px; ">ASPIRE INTERNATIONAL SCHOOL,
        an initiative of the Sar-la Education Trust, offers new age delivery of education
        that promotes learning without compromising on inculcating a spirit of competition. The school only delivers an
        International General Certificate of Secondary Education (IGCSE) syllabus, this is the 1st International School
        in Nagpur with the IGCSE syllabus. This course is delivered in a student friendly manner with the aim of
        enhancing understanding and retention. In academic year 2022-2023, the school offers admissions from Nursery to
        Grade 10 and Grade 11 (Science / Commerce) Maharashtra State Board.</p>
    </div>

  </div>

  <!-- 2nd row -->
  <div class="row mt-2">
    <div class="col-lg-4 ">

      <div class="effect">
        <img src="assets/card overlay 3.jpeg" alt="Avatar" class="image" width="100%" height="100%">
        <div class="overlay">
          <div class="text">We help students facing temporary learning difficulties to stay on top of coursework with
            remedial coaching. </div>
        </div>
      </div>

    </div>

    <div class="col-lg-4">
      <div class="effect">
        <img src="assets/card overlay 4.jpeg" alt="Avatar" class="image" width="100%" height="100%">
        <div class="overlay">
          <div class="text">We constantly evaluate how well a child is doing in the classroom and work with parents to
            help each child excel </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 ">
      <div class="effect">
        <img src="assets/card overlay 5.jpeg" alt="Avatar" class="image" width="100%" height="100%">

        <div class="overlay">
          <div class="text">We help high achieving students grow faster with personalized enrichment programs. </div>
        </div>
      </div>
    </div>

  </div>
</div>



<!-- paragraph  -->
<div class="container mt-5">
  <div class="row text-head">
    <div class="col-lg-12">
      <pre>WELCOME TO ASPIRE INTERNATIONAL SCHOOL</pre>
      <h6>IGCSE Syllabus Admissions open for Nursery to Grade 10</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      Aspire believes that every student is an individual guided by a unique personality and hence the school offers an
      education system that weaves academic and artistic excellence with social engagement and moral awareness. In
      addition to academics, activities aimed at developing the overall personality of the student are offered as part
      of the curriculum. Various sports and Extra Curricular activities and competitions, such as Art, Music, Dance,
      Debate and Elocution are planned to promote Public speaking skills and nurture creative expression.

      The beautiful 9-acre campus in Nagpur offers facilities for various sports including – both Outdoor: Basketball,
      Football, Throwball, Volleyball, Athletics and Cricket; and Indoor: Badminton, Table tennis and Gymnastics.

      Aspire School is a student-centered community with a dedicated and caring faculty, small classes and an education
      that recognizes each student as an individual. Aspire encourages initiative and self-direction in students as they
      grow and thus creates young adults dedicated to the pursuit of ongoing learning and eager to contribute positively
      to the global society of the 21st century.
    </div>
  </div>

  <div class="row mt-3 small">
    <div class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h6 class="card-title">ACADEMIC EXCELLENCE </h6>
          <p class="card-text">HIGH EXPECTATIONS DELIVER OUTSTANDING RESULTS</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h6 class="card-title">LEADER OF CHARACTERS</h6>
          <p class="card-text">MISSION CHALLENGES ALL TO BE PEACEMAKERS, CHANGEMAKERS.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> SPIRTUAL GROWTH </h5>
          <p class="card-text">INCLUSIVE COMMUNITY FOSTERS VALUES AND GUIDES FAITH FORMATION</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> PHYSICAL AND SOCIAL-EMOTIONAL WELLNESS </h5>
          <p class="card-text">VIBRANT COMMUNITY OF HIGHLY ENGAGED STUDENTS</p>

        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid">
  <div class="row desc">
    <div class="col-lg-8">
      <div class="principal">

        <h6>PRINCIPAL’S DESK</h6>

        <img src="assets/rashmi pic.jpg" alt="" width="100%" height="100%">
        <h5>Mrs. Rashmi Ranjeet Shendre, Principal</h5>

        <p>Aspire International School has a mission to prepare children who are lifelong learners with good character
          values and high academic goal, supported by strong family and community involvement. We give world class
          education, celebrating the fact that each student is different, as a person and as a learner. We practice
          learning rather than teaching. We promote understanding of application rather than rote learning of theory. We
          rear students who are creatively curious and strive to experiment & innovate new things on both academic and
          non-academic fronts. Our pedagogy is child – centric with emphasis on inquiry and project-based learning. We
          treasure dynamism and deem that one should be well prepared to adapt to the global scenario and work on his
          learning accordingly. This is why we have introduced a globally accepted curriculum. At Aspire we provide an
          atmosphere to our students for multifaceted development, where children ...</p>
      </div>

    </div>
    <div class="col-lg-4">
      <div class="button">
        <button type="button" class="btn btn-primary">Addmission Registration</button>

        <button type="button" class="btn btn-primary">Addmission Enquiry</button>
      </div>
    </div>
  </div>
</div>




<app-footer></app-footer>
